# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
# Coastline files
/land_poly
/coastline_polyline
openstreetmap_coast_polyline.RData
openstreetmap_coast_polygon.RData
coast_line_distance_export.RData
# PDF files
*.pdf
out.tab.RData
foraging_trip_labelling_forAmazon.RData
data_for_export.RData
time_acitivty_habitat_early.pdf
coast_analysis_summary.R
*.png
*.wmf
2016_10_24_data_site_distances.RData
site_distances.csv
(TomEvans-XPS13's conflicted copy 2016-10-28).RData
# Image files
*.svg
*.pdf
*.tiff
# RData files
*.RData
.RDataTmp
summary_cluster_var.csv
summary_cluster_var.xlsx
all_natural_water.geojson
export.geojson
natural_water.geojson
pca.table.csv
pca_eigen_summary.csv
